<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>audio</key>
	<string>40</string>
	<key>video</key>
	<string>8</string>
	<key>dimensions</key>
	<string>123,4 x 58,6 x 6,1 (mm)</string>
	<key>weight</key>
	<string>88 g.</string>
	<key>display-type</key>
	<string>LED-backlit IPS LCD, capacitive touchscreen</string>
	<key>display-density</key>
	<string>326 ppi</string>
	<key>WLAN</key>
	<string>Wi-Fi 802.11 a/b/g/n, dual-band</string>
	<key>bluetooth</key>
	<string>4.0</string>
	<key>camera-primary</key>
	<string>5.0 MP</string>
	<key>camera-secondary</key>
	<string>1.2 MP</string>
	<key>cpu</key>
	<string>Apple A5</string>
	<key>gpu</key>
	<string>625</string>
</dict>
</plist>
